<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eventb.ui.editorItems">
      <choiceAttribute
            class="fr.enseeiht.rodinextension.sample.ui.manipulation.ProbabilisticAttributeManipulation"
            expandsHorizontally="false"
            id="fr.enseeiht.rodinextension.sample.ui.probabilistic"
            required="true"
            typeId="fr.enseeiht.rodinextension.sample.probabilistic">
      </choiceAttribute>
      <attributeRelation
            elementTypeId="org.eventb.core.event">
         <attributeReference
               descriptionId="fr.enseeiht.rodinextension.sample.ui.probabilistic">
         </attributeReference>
      </attributeRelation>
   </extension>

</plugin>
