<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="fr.enseeiht.eb4eb.generator.ui.commands.generate"
            name="Generate EB4EB">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.enseeiht.eventb.eb4eb.internal.ui.handlers.GenerateEB4EBAction"
            commandId="fr.enseeiht.eb4eb.generator.ui.commands.generate">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:fr.systerel.explorer.navigator.view">
         <command
               commandId="fr.enseeiht.eb4eb.generator.ui.commands.generate"
               icon="icons/sample.png"
               id="fr.enseeiht.eb4eb.generator.ui.popup.generate"
               style="push"
               tooltip="Generate the EB4EB context associated to the selected machine.">
            <visibleWhen>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eventb.core.IMachineRoot">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
